.preload-bg{
    position: fixed;
    height: 100vh;
    margin-top: 70px;
    width: 100%;
    background: white;
    z-index: 9999999999999999;
}

.advert{
    padding-bottom: 10px;
}
.progress{
    height: 5px;
    border-radius: 0;
    background: white;
}

.progress-bar{
    background-color: black;
    -webkit-transform: none;
    transform: none;
    -webkit-animation: animation 1s;
    animation: animation  1s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards; 
    animation-fill-mode: forwards;
}
@-webkit-keyframes animation {
  0%   { width: 0; }
  100% { width: 100%; }
}
@keyframes animation {
  0%   { width: 0; }
  100% { width: 100%; }
}

.social-popup-container{
    display: none;
}
.social-popup-overlay{
    position: fixed;
    background: rgba(0,0,0,.5);
    bottom: 30px;
    width: 100%;
    height: 100vh;
    z-index: 999999;
}
.social-popup-underlay{
    position: fixed;
    background: rgba(0,0,0,.0);
    bottom: 0;
    width: 100%;
    height: 30px;
    z-index: 999999;
}
.social-popup-wrapper{
    width: auto;
    height: auto;
    background: white;
    position: fixed;
    width: 100%;
    bottom: 36px;
    padding: 2px;
    z-index: 999999999;
    padding: 11px 5px 5px 5px; 
}
.social-popup-content{
    width: 100%;
    text-align: center;
}
.fa-social-mobile{
    color: black;
}
.i-social-mobile{
    color: white !important;
    background: black !important;
    position: relative;
    top: -2px !important;
}
.fa-share-alt{
    position: relative;
    top: -2px;
}
.social-hide{
    visibility: hidden;
}
.social-show{
    visibility: visible;
}
.btn-social-popup{
    width: 100%;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    margin-top: 5px;
}
.social-popup-text{
    text-align: center;
    margin-top: 15px;
}
.social-popup-close{
    position: absolute;
    right: 7px;
    top: -2px;
    font-size: 1.5em;
}
.social-popup-close a{
    color: black;
    cursor: pointer;
}
.social-popup-close a:hover{
    color: black;
}
.fa-share-alt{
    cursor: pointer;
}

label{
    font-weight: normal;
}
.yikes-easy-mc-success-message, .yikes-easy-mc-error-message{
    background: white !important;
    border: none !important;
    padding: 0 !important;
    color: black !important;
    text-align: center !important;
}
.yikes-easy-mc-submit-button{
    font-weight: 800;
    text-transform: uppercase;
}
a.send-update-email{
    color: black;
    text-decoration: underline;
}
a.send-update-email:hover{
    color: black;
    text-decoration: underline;
}
.yikes-easy-mc-form .yikes-easy-mc-submit-button{
    margin-bottom: 20px !important;
}
.btn-primary[disabled]{
    background:black !important;
}



#mc_embed_signup input{
    border-radius: 0 !important;
}
#mc_embed_signup input.mce_inline_error{
    border:2px solid black !important;
}
#mc_embed_signup div.mce_inline_error{
    display: none !important;
}
.mc-field-group{
    margin: 0 !important;
    padding-bottom: 10px !important;
    min-height: auto !important;
    width: 100% !important;
}
#mc_embed_signup form{
    padding: 0 !important;
}
#mc-embedded-subscribe{
    margin-left: 0 !important;
    margin-bottom: 20px !important;
    width: 100% !important;
}
#mc_embed_signup div#mce-responses, #mc_embed_signup div.response{
    margin: 0 !important;
    padding: 0 !important;
    margin-bottom: 5px !important;
    width: 100% !important;
}
#mce-success-response{
    text-align: center !important;
    color: black !important;
}
#mce-error-response{
    text-align: center !important;
}
#mce-error-response a{
    color: black !important;
    text-decoration: underline;
}
#mce-error-response a:hover{
    color: black !important;
    text-decoration: underline;
}

h4#newsletter-popup{
    margin-bottom: 15px;
}






.contact-popup-container{
    display: none;
}
.contact-popup-overlay{
    position: fixed;
    background: rgba(0,0,0,.5);
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999999999;
}
.contact-popup-wrapper{
    width: 220px;
    border-radius: 4px;
    height: auto;
    background: white;
    position: fixed;
    right: 5px;
    bottom: 50px;
    z-index: 9999999999999999999;
    padding: 3px 10px;
}
.contact-popup-content{
    width: 100%;
    font-weight: 800;
    font-size: 1.1em;
}

.btn-contact-popup{
    width: 100%;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    margin-top: 5px;
}
.contact-popup-text{
    text-align: center;
    margin-top: 15px;
}
.contact-popup-close{
    position: absolute;
    right: 7px;
    top: -2px;
    font-size: 1.5em;
    cursor: pointer;
}
.contact-popup-close a{
    color: black;
    cursor: pointer;
}
.contact-popup-close a:hover{
    color: black;
}
#contact-popup-open{
    cursor: pointer;
}








.whatsapp-popup-container{
    display: none;
}
.whatsapp-popup-overlay{
    position: fixed;
    background: rgba(0,0,0,.5);
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999999999;
}
.whatsapp-popup-wrapper{
    width: 160px;
    border-radius: 4px;
    height: auto;
    background: white;
    position: fixed;
    right: 5px;
    bottom: 50px;
    z-index: 9999999999999999999;
    padding: 3px 10px;
}
.whatsapp-popup-content{
    width: 100%;
    font-weight: 800;
    font-size: 1.1em;
}

.btn-whatsapp-popup{
    width: 100%;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    margin-top: 5px;
}
.whatsapp-popup-text{
    text-align: center;
    margin-top: 15px;
}
.whatsapp-popup-close{
    position: absolute;
    right: 7px;
    top: -2px;
    font-size: 1.5em;
    cursor: pointer;
}
.whatsapp-popup-close a{
    color: black;
    cursor: pointer;
}
.whatsapp-popup-close a:hover{
    color: black;
}
#whatsapp-popup-open{
    cursor: pointer;
}



















.snapchat-popup-container{
	display: none;
}
.snapchat-popup-overlay{
    position: fixed;
    background: rgba(0,0,0,.5);
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999999999;
}
.snapchat-popup-wrapper{
    width: auto;
    height: auto;
    background: white;
    position: fixed;
    right: 5px;
    bottom: 50px;
    border-radius: 4px;
    padding: 2px;
    z-index: 9999999999999999999;
    padding: 25px;
}
.snapchat-popup-content{
    width: 100%;
}
.btn-snapchat-popup{
    width: 100%;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    margin-top: 5px;
}
.snapchat-popup-text{
    text-align: center;
    margin-top: 15px;
}
.snapchat-popup-close{
    position: absolute;
    right: 7px;
    top: -2px;
    font-size: 1.5em;
    cursor: pointer;
}
.snapchat-popup-close a{
	color: black;
	cursor: pointer;
}
.snapchat-popup-close a:hover{
	color: black;
}
#snapchat-popup-open{
	cursor: pointer;
}







/*========== CONTAINER ==========*/
@media (min-width: 768px) {
    .container {
        width: 700px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 900px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}
.radiobody{
    margin: 0;
    padding: 0;
}
.container-radio{
    padding: 0;
    margin: 0;
}
.radio-ad-img{
    position: absolute;
    margin-top: 17px;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform:translateY(-50%) translateX(-50%);
    -ms-transform:translateY(-50%) translateX(-50%);
}
.block{
    width: 100%;
    position: absolute;
    margin-top: 17px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    color: white;
    text-align: center;
}

.container-form{
    width: 100%;
}
.fl-textarea{
    width: 300px;
    height: 150px;
}
button:focus {
    outline:0!important;
}
.btn-primary{
    margin-bottom: 20px;
}
.btn-primary,.btn-primary:focus{
    background: black;
    border-radius: 0;
    border: 1px solid black;
    padding: 10px 20px;
    outline: none;
}
.btn-primary:hover{
    background: black;
    color: white;
    border-radius: 0;
    border: 1px solid black;
    outline: none;
}
.btn-primary:hover.btn-primary a{
    color: black;
}
.btn-primary a{
    color: white;
}
.btn-primary a:hover{
    color: black;
}
center.submit{
    margin-top: 10px;
}
.form-style{
    height: 37px;
    width: 100%;
    margin: 3px 0;
    padding: 0 0 0 10px;
    color: black;
    font-weight: normal;
}
textarea{
    margin-top: 3px;
    resize: none;
    width: 100%;
    padding-left: 10px;
    padding-top: 7px;
    border: 1px solid lightgrey;
    outline: none;
}
.fa-plus{
    color: white;
    margin-right: 3px;
}
h4.subscribe-link-radio{
    background: white;
    color: black;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
    padding-bottom: 1px;
    cursor: pointer;
}
footer.radio-footer{
    padding-bottom: 0;
}
.hidden{
    visibility: hidden;
}
/*========== STYLES ==========*/
/*== 3. btn SECONDARY ==*/
.btn-secondary,.btn-secondary:focus{
    background: white;
    border-radius: 0;
    border: 1px solid black;
    padding: 10px 20px;
    color: black;
}
.btn-secondary:hover{
    background: black;
    color: white;
    border-radius: 0;
    border: 1px solid black;
}
.btn-secondary:hover.btn-secondary a{
    color: black;
}
.btn-secondary a{
    color: white;
}
.btn-secondary a:hover{
    color: white;
}

/*========== STYLES ==========*/
/*== 1. GLOBAL ==*/
.desc-sxzw{
    font-family: 'Open Sans', sans-serif !important;
    font-size: 2.5em !important;
    line-height: 50px !important;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body{
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 35px;
}
body.radio{
    margin: 0;
}
body.admin-bar .navbar { 
    top: 32px
}
h1,h2,h3,h4{
    font-weight: 800;
    text-transform: uppercase;
}
h1{ 
    margin-top: 0;
    margin-bottom: 0px; 
    font-size: 4.5em;
}

h2{
    background: black;
    color: white;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 20px;
}
h2 a{ 
    color: white;
}

h2.player-logo{
    padding-bottom: 0;
    margin-bottom: 0;
}
h3{
    margin-top: 0;
    margin-bottom: 0;
}
hr{
    margin-top: 5px;
    margin-bottom: 10px;
}
p{
    line-height: 1.6em;
}
img{
    max-width: 100%;
    height: auto;
}
a:hover{
    color: white;
    text-decoration: none;
}
a:focus{
    color: white;
    text-decoration: none;
}
.fa:hover{
    cursor: pointer;
}
.nav-clear{
    margin-top: 90px;
}
.img-responsive{
    width: 100%;
}
.overflow-hidden{
    overflow: hidden;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.swipebox-container,.swipebox-overlay{
    z-index: 999999999;
}
/*========== STYLES ==========*/

.home-slider{
    overflow: hidden;
}


/*========== SECTIONS ==========*/
/*== 1. BANNER ==*/
#banner{
    background: top center no-repeat;
    background-size: cover;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 380px;
    text-align: center;
    width: 100%;
    height: 95vh;

}
.slider-overlay{
    top: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.2);
}
.banner-text{
    color: white;
    text-align: center;
    position: absolute;
    width: 100vw;
    margin-top: -37px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    font-family: 'Open Sans', sans-serif;
}

/*========== SECTIONS ==========*/
/*== 2. POST ==*/
#pyro-post{
    background: white;
    text-align: center;
}
#pyro-post ul{
    margin-bottom:20px;
}
#f
#pyro-post li{
    list-style: none;
}
#featured-img{
    margin-bottom: 20px;
}
#pyro-post p{
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 1.1em;
}
#pyro-post .fa{
    display: inline-block;
    text-align: center;
}
h2.post-single-title > .pyro-post-title{
    margin-left: 40px;
    margin-right: 40px;
}

.fa-pyro-post{
    color: black;
    padding: 2px;
}
.social-icons p{
    margin-top: 0 !important;
}
#featured-img{
    margin-top: 0;
}
.post-single-title h2{
    padding-right: 50px;
    padding-left: 50px;
}
.post-radio-title h2{
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 0;
}
a > i{
    color: white;
}
.popover{
    word-wrap: break-word;
    max-width: 400px;
    text-align: center;
    font-weight: 800;
}
.single-post{
    margin-top: 90px;
}
.pagination{
    display: none;
    text-align: center;
}
.pagination a{
    color: #333;
    text-align: center;
}
#infscr-loading{
    visibility: hidden;
}
.moretag a{
    color: #333;
}
iframe{
    width: 100%;
}

iframe.mixcloud{
    margin-bottom: 18px;
}

iframe.soundcloud{
    padding-bottom: 15px;
}
.post-navigation{
    margin-top: 100px;
}
.tiled-gallery img{
    margin: none !important;
}
.mixcloud-bottom-fix{
    margin-bottom: 10px !important;
}
/*========== SECTIONS ==========*/
/*== 3. PREV NEXT ==*/
.left-arrow{
    height: 100%;
    position: absolute;
    top: 0;
    left: 25px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}
.right-arrow{
    height: 100%;
    position: absolute;
    right: 25px;
    top: 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;

}
.fa-left{
    color: white;
    margin-right: 5px;
    position: relative;
    top: -10px;
}
.fa-right{
    color: white;
    margin-left: 5px;
    position: relative;
    top: -10px;
}
.nav-previous a, .nav-next a{
    color: #333;
}

/*========== SECTIONS ==========*/
/*== 4. NEWSLETTER ==*/
.newsletter-popup-container-main{
    visibility: hidden;
}
.newsletter-popup-container-radio{
    display: none;
}
.newsletter-popup-overlay{
    position: fixed;
    top: 0;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100vh;
    z-index: 9999999999;
}
.newsletter-popup-wrapper{
    max-width: 400px;
    min-width: 300px;
    height: auto;
    background: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform:translateX(-50%) translateY(-50%);;
    -ms-transform:translateX(-50%) translateY(-50%);;
    padding: 2px;
    border-radius: 4px;
    z-index: 9999999999999999999;
}
.newsletter-popup-header{
    width: 100%;
    height: 70px;
    background: black;
}
.newsletter-popup-logo{
    width: 150px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    top: 15px;
}
.newsletter-popup-content{
    width: 80%;
    margin-left: 10%;
    height: 100%;
    margin-top: 25px;
}
.btn-newsletter-popup{
    width: 100%;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    font-weight: 800;
    font-size: 1.1em;
}
.newsletter-popup-text{
    text-align: center;
    margin-top: 15px;
}
.newsletter-popup-close{
    position: absolute;
    right: 7px;
    top: -2px;
    font-size: 1.5em;
    cursor: pointer;
}
.newsletter-popup-close a{
	color: black;
	cursor: pointer;
}
.newsletter-show{
	visibility: visible;
}

/*========== SECTIONS ==========*/
/*== 4. MODAL ==*/
.modal-dialog{
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 300px;
}

/*========== SECTIONS ==========*/
/*== 6. FOOTER ==*/
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    z-index: 99999;
}
footer p.right{
    float: right;
    text-align: right;
    margin-bottom: 4px;
    margin-right: 10px;
}
footer p.left{
    float: left;
    text-align: left;
    margin-bottom: 0;
    left: 20px;
}
footer a{
    color: white;
}
.fa-foot{
    margin: 0 2px;
    font-size: 22px;
}
.fa-youtube{
    font-size: 19px;
    position: relative;
    top: -1px;
}
.fa-tumblr{
    font-size: 20px;
}
.fa-whatsapp{
    font-size: 20px;
    position: relative;
    top: -1px;
}
.snapchat-foot{
    height: 19px;
    position: relative;
    top: -2px;
    margin-left: 2px;
    cursor: pointer;
}
.email-foot{
    height: 21px;
    position: relative;
    top: -2px;
    margin-left: 1px;
    cursor: pointer;
}
.i-subscribe{
    font-style: normal;
    background: white;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    top: -1px;
    left: -2px;
}
.cm-logo{
    height: 19px;
    top: 10px;
    position: absolute;
    left: 36px;
    display: inline-block;
}
.search-form {
    position: absolute;
    float: left;
    left: 6px;
    z-index: 9999;
}
input.mail-form,
select.mail-form,
textarea.mail-form{
    outline: none !important;
    background: white !important;
    border: 1px solid lightgrey !important;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    border: 1px solid black;
}
.search-field {
    background-color: transparent;
    background-image: url(../img/search-icon.png);
    background-position: 3px 10px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    border: none;
    cursor: pointer;
    height: 32px;
    margin: 1px 0;
    padding: 0 0 0 26px;
    position: relative;
    -webkit-transition: width 400ms ease;
    transition:         width 400ms ease;
    width: 0;
    color: black;
    font-weight: normal;
}
.search-field:focus {
	background-position: 3px 6px;
    background-color: #fff;
    background-image: url(../img/search-icon-focus.png);
    border: 2px solid black;
    cursor: text;
    outline: 0;
    width: 230px;
    position: relative;
    top: 2px;
    left: -2px;
}
.search-submit {
  display: none;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
.search-field-none{
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    height: 37px;
    width: 100%;
    margin: 3px 0;
    padding: 0 0 0 10px;
    color: black;
    font-weight: normal;
    text-align: center;
}

/*========== HEADER ==========*/
/*== 1. NAV ==*/
.nav-fluid{
    padding-left: 10px;
    padding-right: 20px;
}
.navbar-default{
    height: 70px;
    background: black;
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
    margin: 0!important;
}
.navbar-default .navbar-brand{
    color: white;
    font-size: 30px;
    font-weight: bold;
    height: 70px;
    line-height: 35px;
}
.navbar-default .nav li a{
    color: white;
    font-size: 13px;
    font-weight: bold;
    height: 70px;
    line-height: 40px;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus,
.navbar-default .nav li a.current{
    color: white;
    text-decoration: underline;
}
.navbar-default .navbar-toggle{
    border: none;
    padding-top: 20px;
}
.navbar-default .navbar-toggle .icon-bar{
    background: white;
    border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }


/*========== HEADER ==========*/
/*== 2. DJ ==*/
.pyro-dj{
    position: absolute;
    color: white;
    right: 0;
    top: 0;
}
.pyro-player-container{
    width: 100%;
    height: 100vh;
}
.pyro-player-inner{
    width: 264px;
    height: 153px;
    position: absolute;
    background: blue;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -60px;
    padding-top: 20px;
}
.pyro-player{
    color: white;
}
.left-arrow > .fa{
    color: white;
    margin-bottom: 7px;
}
.fa-stop-circle{
    position: relative;
    left: 48px;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.dj-name{
    height: 70px;
    max-width: 100px;
    margin-right: 10px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}
.dj-name p{
    margin-bottom: 0;
    font-weight: 800;
    text-transform: uppercase;
    font-size: .9em;
    text-align: center;
    word-wrap: normal;
    padding: 0 5px;
    line-height: 17px;
}
.dj-img-radio{
    height: 100%;
    width: auto;
    margin-bottom: 4px !important;
}
.btn-hide{
    visibility: hidden;
}
.dj-img{
    height: 68px;
    position: relative;
    top: 2px;
    width: auto;
}
.fa-4x{
    font-size: 50px;
    margin: auto;
    margin: 11px 5px 0 0;
}
.show-mobile{
        display: none;
}
/*========== QUERIES ==========*/

/*== 1. LARGE ==*/
@media screen and ( max-width: 991px ) {
    h1{
        font-size: 3.7em;
    }
    h2{
        font-size: 1.7em;
    }
    .navbar-header{
        float: left;
    }
    .left-arrow-dt, .right-arrow-dt{
        visibility: hidden;
    }
    .fa-arrow-left, .fa-arrow-right{
        font-size: 1.5em;
        top: 0;
    }
}
/*========== QUERIES ==========*/
/*== 2. MEDIUM ==*/
@media screen and ( max-width: 768px ) {
    .navbar-default .nav li a {
        height: auto;
        line-height: 2em;
    }  
    .snapchat-popup-wrapper{
        width: 300px;
        height: auto;
        background: white;
        position: fixed;
        bottom: 50px;
        left: 50%;
        margin-left: -150px;
    }
    .hide-mobile{
        display: none;
    }
    .show-mobile{
        display: block;
    }
    .email-foot, .snapchat-foot{
        top: -4px;
    }
    .whatsapp-foot{
        top: -3px;
    }
    .contact-popup-wrapper, .whatsapp-popup-wrapper{
        bottom: 82px;
    }
    .snapchat-popup-wrapper{
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    h1{
        font-size: 3.2em;
    }
    h2{
        font-size: 1.5em;
    }
}
/*========== QUERIES ==========*/
/*== 3. SMALL ==*/
@media screen and ( max-width: 600px ){
    .navbar-brand{
        padding-top: 18px;
        padding-bottom: 18px;
    }
    .fa-4x{
        font-size: 40px;
        margin-top: 16px;
    }
    .fa-stop-circle{
        left: 39px;
    }
    .left-arrow > .fa{
        margin-bottom: 14px;
    }
    .dj-name p{
        font-size: .8em;
        max-width: 90px;
        line-height: 15px;
    }
    .fa-lg{
        font-size: 20px;
    }
    .newsletter-popup-content{
        width: 80%;
        margin-left: 10%;
    }

}
/*========== QUERIES ==========*/
/*== 4. TINY ==*/
@media screen and ( max-width: 360px ){
    body.single{
        margin-top: 80px;
    }

    h1{
        font-size: 3em;
    }
    h2{
        font-size: 1.2em;
    }
    #pyro-post p{
        font-size: .9em;
    }

    #banner{
        margin-top: 70px;
    } 
    .fa-arrow-left, .fa-arrow-right{
        font-size: 1.2em;
    }


}





